.bttn {
  font-size: 20px;
  width: 90px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 700;
}
.bttn--msg {
  background-color: aqua;
}
.bttn--fllw {
  background-color: rgb(255, 144, 79);
}